
html {
    background-color: #ffffff;
    padding-top: 30px;
}
body {
    /* A body középrezárása*/
    background-color: #ddffdd;
    width: 50%;
    margin: auto;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    border-radius: 8px;
    box-shadow: 5px 5px 8px #888;
}
h1 {
    text-align: center;
}
p {
    font-weight: bold;
}
img {
    width: 130px;
    float: right;
}
.belso {
    list-style-type: none;
    padding-bottom: 40px;
}
#terkep {
    float: none;
    margin:auto;
    display: block;
    width: 500px;
}
.behuz {
    font-weight: normal;
    text-indent: 50px;
}